<%- include("partials/header"); -%>

<section id="MobileNavbar">
        <nav class="nav">
            <a href=".html" class="navlink">
                <span class="material-icons">
                    home
                    </span>
                <span class="navtext">Home</span>
            </a>
            <a href="AllQuarks.html" class="navlink">
                <span class="material-icons">
                    import_contacts
                    </span>
                <span class="navtext">Read</span>
            </a>
            <a href="#" class="navlink">
                <span class="material-icons">
                    offline_bolt
                    </span>
                <span class="navtext">RewardZ</span>
            </a>
            <a href="#" class="navlink">
                <span class="material-icons">
                    games
                    </span>
                <span class="navtext">Games</span>
            </a>
            <a href="CampusAmbassador.html" class="navlink">
                <span class="material-icons">
                    child_care
                    </span>
                <span class="navtext">KidZ</span>
            </a>
        </nav>
    </section>

<img src="https://images.unsplash.com/photo-1599168559492-2cdf8b476d6f?ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80">

<%- include("partials/footer"); -%>
